<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error!</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div id="error-container">
        <h1>Error!</h1>
        <p>The Post ID entered in the URL cannot be found. Please use a valid ID.</p>
        <a href="/posts">Go Back to Posts</a>
    </div>
</body>
</html>